@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {font-size: 16px;
    scroll-behavior: smooth;
}

body {
        font-family: "Teko", sans-serif;
        background-color: #0E2E5F;
        position: relative;
}

header a {
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 1% 0 0 1%;

}

.contenedor li:hover {
	background: #11387D;
}


header {
    background: #0E2E5F;
}

header .contenedor {
    display: flex;
    justify-content: space-between;

}

.logo-menu {
    width: 80%;
    justify-content: space-between;
}

header ul {
    display:flex;

}

header ul li {
    list-style: none;
	background: #0E2E5F;
    padding: .7em 1em;

}

header ul li a {
    color:#F0A81A;
    text-transform: uppercase;
    font-size: 2em;
}


.icon {
    display: none;
}

@media screen and (max-width: 768px) {
    header nav {
        position: fixed;
        left: -100%;
        top: 0;
        width: 40%;
        height: 100vh;
        background: #0E2E5F;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
        transition: left 0.5s;

    }

    #menu:target {
        left: 0;
    }

    .icon {
        display: block;
        width: 3em;
    }

    .close {
        position: absolute;
        left: 1em;
        top: 1em;
    }
    
    header ul {    
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        margin: .8em 0;

    }

    header ul li a {
        font-size: 1.5em;
    }

    header div .logo-menu {
        display: none;
    }

    .home h1 span {
        font-size: 1em;
        padding: 0%;
    }

    .home {
        padding-left: 1em;
    }

    footer section h5 {
        font-size: 0.8em;
    }
}



.arriba:hover {
    background: #11387D;
    color: #F0A81A;
}

.imagen-arriba {
    background: no-repeat;
    width: 6%;
    position: fixed;
        bottom: 0.1em;
        right: 0.1em;
    padding: .5em; 
    border-radius: .5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}


.imagen-arriba:hover {
    transform: rotate(90deg);

}







/* ------ HOME ------ */


.home {
	background: url("../Images/2\ 1.jpg")no-repeat 50%;
	background-size: cover;
	height: 550px;
}


.home__titulo {
	color: #F0A81A;
    font-size: 2.5em;
    -webkit-text-stroke: 2px#F0A81A;

}

.home__subtitulo {
    display: block;
    font-size: 1em;

}

section h5 {
    text-align: right;
    font-size: 1.5em;
	color: #F0A81A;
}






/* ------ SINOPSIS ------*/

.tarjetas h2 {
    text-align: center;
    color: #F0A81A;

}

.tarjetas {
    display:flex;
    justify-content: center;
}

.tarjeta img {
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

.tarjeta {
    width: 27%;
    margin: 0 30px;
    padding: 25px;
    text-align: center;
}

.tarjeta h2 {
    color: #F0A81A;
    padding-bottom: 0.5em;
    
}

.parrafo {
    font-size: 1.2em;
    text-align: left;
    color: #F0A81A;
    
}

.tarjeta a {
    text-decoration: none;
	color: #F0A81A;
    font-size: 1.5em;
}


/* MODAL */

.btn {
    background: #0E2E5F;
    border-radius:5px;
    text-transform:uppercase;
}

.closebtn {
    color: #F0A81A;
    padding: 3px 6px;
    margin: 5%;
}


.btn:hover {
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.4);
}

.modal {
    position: fixed;
    font-size: 1.18em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
}

.modal-content {
    background: #fefefe;
    width: 750px;
    height: 80vh;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
}

.modal:target {
    opacity:1;
    pointer-events: auto;
    display: block;
}

#close {
    display:none;
}










/* ------ GALERIA ------ */

.linea {
    background: #F0A81A;
    height: 2px;
    width: 100%;
    display: block;
}

.imagen-auto {
    margin: 0;
    display: inline-block;
    position: relative;
    background-size: cover;
}

.imagen-auto img {
    width: 100%;
}

.imagen-auto p {
    text-transform: uppercase;
    color:  #F0A81A;
    font-size: 2em;
    position: absolute;
    left: 30px;
    bottom: 110px;
    width:50%;

}
.botones {
        padding: 10px;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        display: flex;
}

.buttom {
    border: 4px solid #F0A81A;
    color: #F0A81A;
    font-size: 1.2em;
    background: none;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.buttom:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.buttom-1:hover,
.buttom-1:active {
    color: #0E2E5F;
}

/* Button 1b */
.buttom-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background:  #F0A81A;
}

.buttom-1b:hover:after,
.buttom-1b:active:after {
    height: 100%;
}

body h1 {
    text-align: center;
    color: #F0A81A;    
}

.titulo-galeria {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-left: 1.2em;
    color: #F0A81A; 
}

.subtitulo-galeria {
    font-size: 2em;
    margin-top: 1em;
    margin-left: 2em;
    color: #F0A81A; 
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 91%;
    margin: auto;
    grid-gap: 12px;
    padding: 20px 0;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img {
    filter: blur(1px);
    transform: rotate(10deg) scale(1.2);

}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);

}

.light-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 55vw;
    max-height: 75vh;
}

.light-box:target{
    transform: scale(1);
    display: flex;
}

.close {
    display: block;
    position: absolute;
    top: 12%;
    right: 250px;
    background: #0E2E5F;
    color: #F0A81A;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

}

.next {
    display: block;
    background: #F0A81A;
    color: #0E2E5F;
    width: 18px;
    height: 20px;
    line-height: 30px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
}





/* ------ MULTIMEDIA ------ */


.trailers-formato {
    display: flex;
    margin: 10px;
    padding: 20px 30px;
    justify-content: space-around;
}

.soundtrack-formato {
    display: flex;
    margin: 10px;
    padding: 20px 30px;
    justify-content: space-around;
}






/* ------ CONTACTO ------ */


.container h1 {
    font-size: 2.5em;
    color: #F0A81A;
}

.container p {
    color: #F0A81A;
    font-size: 1.5em;
}


label {
    font-size: 1.3em;
    color: #F0A81A;
}

.redes {
    padding: 10px;
}

.facebook {
    color: #4267B2;}

.twitter {
    color: #1DA1F2;}

.instagram {
    color: #bc2a8d}
